html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, dialog, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(128, 128, 128, 0.2);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  position: relative;
}

@font-face {
  font-family: 'Chicago';
  font-style: normal;
  font-weight: normal;
  src: local('Chicago'), url('assets/chicago.woff') format('woff');
}

@supports (--css: variables) {
  :root {
    --primary: #006d77;
    /* --alt: #bfb8b9; */
    /* --primary: #222; */
    --alt: #edf6f9;
  }
}


html, body {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: url(images/cursor.gif), auto;
}

body {
  background: var(--alt);
  line-height: 1.25;
  min-height: 100vh;
  color: darkslategrey;
  color: var(--primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chicago", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
header[role="banner"] {
  display: flex;
  font-size: 1.25rem;
  line-height: 1;
  width: 100%;
  min-height: 40px;
  border-bottom: 2px solid var(--primary);
  background-color: var(--alt);
}
header[role="banner"]::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 10px;
  background: url(images/menu-top.gif) top left no-repeat;
  background-size: contain;
}

header[role="banner"]::after {
  position: absolute;
  right: 0;
  content: "";
  height: 100%;
  width: 10px;
  background: url(images/menu-top.gif) top right no-repeat;
  background-size: contain;
  transform: scaleX(-1);
}

.logo {
  height: 100%;
  border: none;
  display: flex;
  align-items: flex-end;
  stroke: var(--primary)
}

.logo svg {
  height: 32px;
  width: 32px;
}

nav {
  flex: 1 1 100%;
  padding: 0 0.625rem;
  display: flex;
  align-items: stretch;

}

nav a,
nav button {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;

}

nav a:hover,
nav a:focus,
nav button:hover,
nav button:focus {
  color: var(--alt);
  stroke: var(--alt);
  background: var(--primary);
  text-decoration: none;
}

#clock {
  display: none;
  white-space: nowrap;
  padding: 0.5rem 1rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: linear-gradient(
    45deg,
    var(--primary) 25%,
    transparent 25%,
    transparent 75%,
    var(--primary) 75%,
    var(--primary)
  ),
  linear-gradient(
    45deg,
    var(--primary) 25%,
    transparent 25%,
    transparent 75%,
    var(--primary) 75%,
    var(--primary)
  );
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}
.window-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.icon-layer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

h1 {
  font-weight: normal;
  font-size: 1.75rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  height: 4rem;
}
.icon .svg-alt { stroke: var(--alt); }
.icon .svg-prime { stroke: var(--primary); }
.icon.open .svg-alt,
.icon.open .svg-prime { filter: brightness(0.75) }

.icon span{
  font-size: 1rem;
  background: var(--alt);
  padding: 0 0.25rem;
}

.icon.open .svg-alt {
  stroke: var(--primary);
  filter: brightness(0.60);

}
.icon.open span {
  background: var(--primary);
  color: var(--alt);
  filter: brightness(0.60);
}
.icon:focus { filter: brightness(0.70); }

@media screen and (min-width: 32rem) {
  #clock { display: block; }
  main {
    align-items: center;
    justify-content: center;
  }
  .icon-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .mac {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .trash {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0;
  padding: 0;
  margin: 0;
  border: 1px solid var(--primary);
  border-radius: 2px;
}

a, button {
  cursor: url(images/pointer.gif) 12 0, auto;
  color: var(--primary);
}
button {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

/* input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
} */
